<h1><%= @flat.name %></h1>
<h3><%= @flat.address %></h3>
<div>
  <i class="fa-solid fa-users">
    <%= @flat.number_of_guests %>
  </i>
  <i class="fa-solid fa-hand-holding-dollar">
      <%= @flat.price_per_night %>
  </i>
</div>

<h2>A bit more about this flat</h2>
<p><%= @flat.description %></p>

<h2>Reviews:</h2>
<ul>
  <% @flat.reviews.each do |review| %>
    <li><%= review.content %></li>
  <% end %>
</ul>

<%= link_to "Leave a review", new_flat_review_path(@flat) %>
